<%= render 'shared/nav_bar' %>
<main role="main" class="container-fluid">
  <div class="main">
    <div class="card box-shadow mb-4">
      <div class="card-header">
        <strong>Yearly cycle time averages overview for department: <%= @department.name %></strong><br>
        <small class="text-muted small">Average cycle time per year calculated from the issues moved to 'Released' in that period</small>
      </div>
      <div class="card-body">
        <%= render partial: 'shared/table', locals: { table: @report, options: { table_class: 'narrow-table'} } %>
      </div>
   </div>
 </div>
</main>
