<div class="main">
  <div class="card box-shadow mb-4">
    <div class="card-header">
      <strong>Create new KPI goal for <%= @kpi_goal.department.name %></strong><br>
    </div>
    <div class="card-body">
      <%= render 'form', kpi_goal: @kpi_goal %>
    </div>
  </div>
  <%= link_to 'Back', kpi_goals_path, class: 'ml-2' %>

</div>
