- team_1:
  :board_id: <<JIRA rapidview ID of your board>>
  :subteam: <<subteam name, optional, only needed if you use the subteam property in issues>>
- team_2:
  :board_id: <<JIRA rapidview ID of your board>>
  :subteam: <<subteam name, optional, only needed if you use the subteam property in issues>>
