<div class="main">
   <div class="card box-shadow mb-4">
     <div class="card-header">
       <strong>Number of released issues (cumulative)</strong><br>
     </div>
     <div class="issues-chart m-4"></div>
   </div>
</div>
<script>
$(function() {
  var chart_data = convertToCumulativeOverviewChartData(JSON.parse('<%= escape_javascript raw(@report.to_json) %>'), 800);
  c3.generate({
      padding: {
         right: 40,
         left: 40
      },
      bindto: d3.select('.issues-chart'),
      data: {
        xs: {
          'previous_x': 'dates',
          'current_x': 'dates',
          'goal': 'min_max_dates'
        },
        columns: chart_data,
        names: {
          'previous_x': '<%= @last_year_quarter.name %>',
          'current_x': '<%= @current_quarter.name %>'
        }
      },
      axis: {
        y: {
          min: 0,
          padding: { top: 5, bottom:0 }
        },
        x: {
          type: 'timeseries',
          tick: {
           fit: true,
           format: '%d-%m-%Y'
          }
        },
      },
      point: {
        show: false
      }
   });
});
</script>
