<%= render 'shared/nav_bar' %>
<main role="main" class="container-fluid">
  <div class="main">
    <div class="card box-shadow mb-4">
      <div class="card-header">
        <a href="<%= cycle_time_two_week_overview_path(deployment_constraint_id: @deployment_constraint.id, format: 'csv') %>"
          class="card-link float-right">
          Download as csv file
        </a>
        <strong>2-weekly cycle time averages overview for constraint group: <%= @deployment_constraint.name %></strong><br>
        <small class="text-muted small">Average cycle time per two week period calculated from the issues moved to 'Released' in that period</small>
      </div>
      <div class="card-body">
        <%= render partial: 'shared/table', locals: { table: @report, options: { table_class: 'narrow-table'} } %>
      </div>
   </div>
 </div>
</main>
