<div class="main">
  <%= render partial: 'shared/date_selector_year', locals: { path: uptime_report_path } %>
   <div class="card box-shadow mb-4">
     <div class="card-header">
       <a href="<%= uptime_report_path(format: 'csv') %>"
         class="card-link float-right">
         Download as csv file
       </a>
       <strong>jumbo.com downtime events (<%= @report[:issues_table].size - 1 %>)</strong><br>
     </div>
     <div class="card-body">
       <%= render partial: 'shared/issue_table', locals: { table: @report[:issues_table] } %>
     </div>
  </div>
</div>
