<%= render 'shared/nav_bar' %>
<main role="main" class="container-fluid">
  <div class="main">
	  <div class="row">
	  	<div class="col-3">
		     <div class="card box-shadow mb-4">
		       <div class="card-header">
		         <strong>Open P1s</strong><br>
		       </div>
		       <div class="bar-chart m-4"></div>
		     </div>
	     </div>
	  	<div class="col">
		     <div class="card box-shadow mb-4">
		       <div class="card-header">
		         <strong>Overview</strong><br>
		       </div>
		       <div class="bar-chart m-4"></div>
		     </div>
	     </div>
	  </div>
    </div>
</main>
