<div class="main">
  <div class="row">
    <div class="col-6 ml-4">
      <p>To login, click on the image to use the specified login provider</p>
      <a class="btn" role="button" href="<%= login_path %>">
        <%= image_tag('atlassian-logo-gradient-vertical-blue@2x.png', height: '200px', class:'mr-3') %>
      </a>
    </div>
  </div>
</div>
